html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Poppins';
    background-color: #f3fffc;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin: 4em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 4.1em;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
}

nav ul li a.active:before {
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -6px;
}

nav ul li a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid gray;
    bottom: -6px;
    transition: width .3s;
}

/* Hero section */

main {
    margin-top: 5em;
    margin-bottom: 5em;
}

main.mainhome {
    display: flex;
    gap: 8em;
}

.left-col {
    width: 45%;
}

.right-col {
    flex-grow: 1;
}

h1 {
    font-size: 5.2rem;
    font-family: 'Plafair Display';
    font-weight: normal;
    margin: 0;
}

h4 {
    font-size: 1.5rem;
    font-family: 'Plafair Display';
    font-weight: normal;
    margin: 0; 
}

.subhead {
    font-size: 1.8rem;
    text-align: justify;
}

.videosubhead {
    font-size: 1.8rem;
    text-align: justify;
    margin: 0;
}

.cta-btns {
    display: flex;
    gap: 2em;
}

.primary-cta {
    background-color: #A0D3F9 ;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 1.9em;
    padding: 0.4em 1.8em;
}

/* Right column gallery */

.right-col {
    display: grid;
    gap: 2.3em;
    grid-template-columns: repeat(2,auto);
}

.service {
    border-radius: .8em;
    padding: 1.1em;
    display: flex;
    height: 22em;
    width: 24em;
    align-items: end;
    background-size: 100%;
    transition: background-size 800ms;
}

.service1 {
    background-image: url('../images/serv01.jpg');
}

.service2 {
    background-image: url('../images/serv02.jpg');
}

.service3 {
    background-image: url('../images/serv03.jpg');
}

.service4 {
    background-image: url('../images/serv04.jpg');
}

.service5 {
    background-image: url('../images/serv05.jpg');
}

.service6 {
    background-image: url('../images/serv06.jpg');
}

.service7 {
    background-image: url('../images/serv07.jpg');
}

.service8 {
    background-image: url('../images/serv08.jpg');
}

.service-details {
    background-color: white;
    border-radius: .8em;
    padding: 1em;
    width: 100%;
    align-items: center;
    transition: transform 800ms;
}

.service-details a {
    color: black;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    background: none;
}

/* Microinteractions */

nav ul li a:hover:before {
    width: 35%;
}

.primary-cta:hover {
    background: #4caffa;
}

.service:hover {
    background-size: 110%;
}

.service:hover .service-details {
    transform: translateY(-10px);
}


/* Intro Animation */
.overlay {
    position: absolute;
    z-index: 999;
    background: white;
    width: 100%;
    height: 100%;
    animation: reveal 1s ease-in forwards;
    transform-origin: bottom;
}

@keyframes reveal {
    from {
        transform: scaleY(1)
    }
    to {
        transform: scaleY(0);
    }
}

main.mainhome {
    animation: growIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    transform: scale(.4);
}

@keyframes growIn {
    to {
        transform: scale(1);
    }
}

/* Service pages */

.lists {
    font-size: 1.8rem;
    text-align: justify;
}

.subpagehead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Contact */

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map {
    filter: opacity(.8);
}

/* Media */

.video {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6em;
}

.cikkek {
    font-size: 1.8rem;
    text-align: justify;
    margin: 0;
}

.cta-btns-news {
    display: flex;
    gap: 2em;
    float: right;
}
